<table class="table table-striped table-bordered table-list">
    <tr>
        <td width="100">Company:</td>
        <td><input type="text" id="compaak" ng-model="trasii.id.compaak" /></td>
        <td width="100">Empresa:</td>
        <td><input type="text" id="empresa" ng-model="trasii.id.empresa" /></td>
        <td width="100">Ejercicio:</td>
        <td><input type="text" id="ejercio" ng-model="trasii.id.ejercio" /></td>
        <td width="100">Periodo:</td>
        <td><input type="text" id="periodo" ng-model="trasii.id.periodo" /></td>
    </tr>
    <tr>
        <td width="100">Eminif:</td>
        <td><input type="text" id="eminif" ng-model="trasii.id.eminif" /></td>
        <td width="100">Facnum:</td>
        <td><input type="text" id="facnum" ng-model="trasii.id.facnum" /></td>
        <td width="100">Facfec:</td>
        <td><input type="text" id="facfec" ng-model="trasii.id.facfec" /></td>
        <td width="100">Facter:</td>
        <td><input type="text" id="facter" ng-model="trasii.id.facter" /></td>
    </tr>
    <tr>
        <td width="100">Empcif:</td>
        <td><input type="text" id="empcif" ng-model="trasii.empcif" /></td>
        <td width="100">Empnom:</td>
        <td><input type="text" id="empnom" ng-model="trasii.empnom" /></td>
        <td width="100">Repcif:</td>
        <td><input type="text" id="repcif" ng-model="trasii.repcif" /></td>
        <td width="100">Tipocom:</td>
        <td><input type="text" id="tipocom" ng-model="trasii.tipocom" /></td>
    </tr>
    <tr>
        <td width="100">Factip:</td>
        <td><input type="text" id="factip" ng-model="trasii.factip" /></td>
        <td width="100">Facrti:</td>
        <td><input type="text" id="facrti" ng-model="trasii.facrti" /></td>
        <td width="100">Facrnu:</td>
        <td><input type="text" id="facrnu" ng-model="trasii.facrnu" /></td>
        <td width="100">Facrfe:</td>
        <td><input type="text" id="facrfe" ng-model="trasii.facrfe" /></td>
    </tr>
    <tr>
        <td width="100">Facrba:</td>
        <td><input type="text" id="facrba" ng-model="trasii.facrba" /></td>
        <td width="100">Facrcu:</td>
        <td><input type="text" id="facrcu" ng-model="trasii.facrcu" /></td>
        <td width="100">Faclar:</td>
        <td><input type="text" id="faclar" ng-model="trasii.faclar" /></td>
        <td width="100">Factot:</td>
        <td><input type="text" id="factot" ng-model="trasii.factot" /></td>
    </tr>
    <tr>
        <td width="100">Facdes:</td>
        <td><input type="text" id="facdes" ng-model="trasii.facdes" /></td>
        <td width="100">Facsiti:</td>
        <td><input type="text" id="facsiti" ng-model="trasii.facsiti" /></td>
        <td width="100">Facrefi:</td>
        <td><input type="text" id="facrefi" ng-model="trasii.facrefi" /></td>
        <td width="100">Facnom:</td>
        <td><input type="text" id="facnom" ng-model="trasii.facnom" /></td>
    </tr>
    <tr>
        <td width="100">Facpai:</td>
        <td><input type="text" id="facpai" ng-model="trasii.facpai" /></td>
        <td width="100">Facnif:</td>
        <td><input type="text" id="facnif" ng-model="trasii.facnif" /></td>
        <td width="100">Facidp:</td>
        <td><input type="text" id="facidp" ng-model="trasii.facidp" /></td>
        <td width="100">Facidc:</td>
        <td><input type="text" id="facidc" ng-model="trasii.facidc" /></td>
    </tr>
    <tr>
        <td width="100">Facope:</td>
        <td><input type="text" id="facope" ng-model="trasii.facope" /></td>
        <td width="100">Facsug:</td>
        <td><input type="text" id="facsug" ng-model="trasii.facsug" /></td>
        <td width="100">Facexe:</td>
        <td><input type="text" id="facexe" ng-model="trasii.facexe" /></td>
        <td width="100">Facbae:</td>
        <td><input type="text" id="facbae" ng-model="trasii.facbae" /></td>
    </tr>
    <tr>
        <td width="100">Facba1:</td>
        <td><input type="text" id="facba1" ng-model="trasii.facba1" /></td>
        <td width="100">Facpi1:</td>
        <td><input type="text" id="facpi1" ng-model="trasii.facpi1" /></td>
        <td width="100">Facim1:</td>
        <td><input type="text" id="facim1" ng-model="trasii.facim1" /></td>
        <td width="100">Facpr1:</td>
        <td><input type="text" id="facpr1" ng-model="trasii.facpr1" /></td>
    </tr>
    <tr>
        <td width="100">Facir1:</td>
        <td><input type="text" id="facir1" ng-model="trasii.facir1" /></td>
        <td width="100">Facba2:</td>
        <td><input type="text" id="facba2" ng-model="trasii.facba2" /></td>
        <td width="100">Facpi2:</td>
        <td><input type="text" id="facpi2" ng-model="trasii.facpi2" /></td>
        <td width="100">Facim2:</td>
        <td><input type="text" id="facim2" ng-model="trasii.facim2" /></td>
    </tr>
    <tr>
        <td width="100">Facpr2:</td>
        <td><input type="text" id="facpr2" ng-model="trasii.facpr2" /></td>
        <td width="100">Facir2:</td>
        <td><input type="text" id="facir2" ng-model="trasii.facir2" /></td>
        <td width="100">Facba3:</td>
        <td><input type="text" id="facba3" ng-model="trasii.facba3" /></td>
        <td width="100">Facpi3:</td>
        <td><input type="text" id="facpi3" ng-model="trasii.facpi3" /></td>
    </tr>
    <tr>
        <td width="100">Facim3:</td>
        <td><input type="text" id="facim3" ng-model="trasii.facim3" /></td>
        <td width="100">Facpr3:</td>
        <td><input type="text" id="facpr3" ng-model="trasii.facpr3" /></td>
        <td width="100">Facir3:</td>
        <td><input type="text" id="facir3" ng-model="trasii.facir3" /></td>
        <td width="100">Facba4:</td>
        <td><input type="text" id="facba4" ng-model="trasii.facba4" /></td>
    </tr>
    <tr>
        <td width="100">Facpi4:</td>
        <td><input type="text" id="facpi4" ng-model="trasii.facpi4" /></td>
        <td width="100">Facim4:</td>
        <td><input type="text" id="facim4" ng-model="trasii.facim4" /></td>
        <td width="100">Facpr4:</td>
        <td><input type="text" id="facpr4" ng-model="trasii.facpr4" /></td>
        <td width="100">Facir4:</td>
        <td><input type="text" id="facir4" ng-model="trasii.facir4" /></td>
    </tr>
    <tr>
        <td width="100">Facba5:</td>
        <td><input type="text" id="facba5" ng-model="trasii.facba5" /></td>
        <td width="100">Facpi5:</td>
        <td><input type="text" id="facpi5" ng-model="trasii.facpi5" /></td>
        <td width="100">Facim5:</td>
        <td><input type="text" id="facim5" ng-model="trasii.facim5" /></td>
        <td width="100">Facpr5:</td>
        <td><input type="text" id="facpr5" ng-model="trasii.facpr5" /></td>
    </tr>
    <tr>
        <td width="100">Facir5:</td>
        <td><input type="text" id="facir5" ng-model="trasii.facir5" /></td>
        <td width="100">factno:</td>
        <td><input type="text" id="factno" ng-model="trasii.factno" /></td>
        <td width="100">facino:</td>
        <td><input type="text" id="facino" ng-model="trasii.facino" /></td>
        <td width="100">facfre:</td>
        <td><input type="text" id="facfre" ng-model="trasii.facfre" /></td>
    </tr>
    <tr>
        <td width="100">facdec:</td>
        <td><input type="text" id="facdec" ng-model="trasii.facdec" /></td>
        <td width="100">facopa:</td>
        <td><input type="text" id="facopa" ng-model="trasii.facopa" /></td>
        <td width="100">facicp:</td>
        <td><input type="text" id="facicp" ng-model="trasii.facicp" /></td>
        <td width="100">facfcp:</td>
        <td><input type="text" id="facfcp" ng-model="trasii.facfcp" /></td>
    </tr>
    <tr>
        <td width="100">facmcp:</td>
        <td><input type="text" id="facmcp" ng-model="trasii.facmcp" /></td>
        <td width="100">emiuse:</td>
        <td><input type="text" id="emiuse" ng-model="trasii.emiuse" /></td>
        <td width="100">emifcr:</td>
        <td><input type="text" id="emifcr" ng-model="trasii.emifcr" /></td>
        <td width="100">emihcr:</td>
        <td><input type="text" id="emihcr" ng-model="trasii.emihcr" /></td>
    </tr>
    <tr>
        <td width="100">emicpro:</td>
        <td><input type="text" id="emicpro" ng-model="trasii.emicpro" /></td>
        <td width="100">emiftr:</td>
        <td><input type="text" id="emiftr" ng-model="trasii.emiftr" /></td>
        <td width="100">emihtr:</td>
        <td><input type="text" id="emihtr" ng-model="trasii.emihtr" /></td>
        <td width="100">resfer:</td>
        <td><input type="text" id="resfer" ng-model="trasii.resfer" /></td>
    </tr>
    <tr>
        <td width="100">reshor:</td>
        <td><input type="text" id="reshor" ng-model="trasii.reshor" /></td>
        <td width="100">rescsv:</td>
        <td><input type="text" id="rescsv" ng-model="trasii.rescsv" /></td>
        <td width="100">resemi:</td>
        <td><input type="text" id="resemi" ng-model="trasii.resemi" /></td>
        <td width="100">resfac:</td>
        <td><input type="text" id="resfac" ng-model="trasii.resfac" /></td>
    </tr>
    <tr>
        <td width="100">resemi:</td>
        <td><input type="text" id="reserr" ng-model="trasii.reserr" /></td>
        <td width="100">resfac:</td>
        <td><input type="text" id="resdes" ng-model="trasii.resdes" /></td>
    </tr>
    <tr>
        <td>
            <a ng-click="updateTrasii(trasii)">Save</a>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.handleClose()">Close Modal</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.handleDismiss()">Dimiss Modal</button>
        </td>
    </tr>
</table>