<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SSI</title>

    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="js/app.js"></script>
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/table.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Presentacion SSI</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 text-center">

<div ng-controller="TrasiiCRUDCtrl">

    <p style="color: green">{{message}}</p>
<!--     <p style="color: red">{{errorMessage}}</p> -->
    
    <div class="alert alert-danger" role="alert" ng-show="errorMessage">{{errorMessage}}</div>

    <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">Registros pendientes de procesar</h3>
                    </div>
                    <div class="col col-xs-6 text-right">
                       <!-- <button type="button" class="btn btn-sm btn-primary btn-create">Create New</button> -->
                    </div>
                </div>
            </div>
            
            <div class="panel-body">
                <table class="table table-striped table-bordered table-list" style="font-size: 12px">
                    <thead>
                    <tr style="height:20px;">

	                    Empresa: <input type="text" ng-model="trasiisfilter.id.empresa" style="width: 30px" maxlength="2"/>
			            Ejercicio:
			            <select ng-model="trasiisfilter.id.ejercio">
    						<option ng-repeat="(key, value) in years" value="{{key}}">{{value}}</option>
						</select>
			            Periodo:
			            <select ng-model="trasiisfilter.id.periodo">
    						<option ng-repeat="(key, value) in months" value="{{key}}">{{value}}</option>
						</select>
			            NIF: <input type="text" ng-model="trasiisfilter.facnif" style="width: 100px" maxlength="25"/>
			            Serie: <input type="text" ng-model="trasiisfilter.factip" style="width: 30px" maxlength="2"/>
			            Factura: <input type="text" ng-model="trasiisfilter.id.facnum" style="width: 100px" maxlength="10"/>
			            Tipo R/E:
			            <select ng-model="trasiisfilter.id.facter">
			            	<option value="E">E</option>
			            	<option value="R">R</option>
			            </select>
<!-- 			            <select ng-model="csvSwitch" ng-change="swichState()"> -->
<!-- 			            	<option value="empty">Pendiente</option> -->
<!-- 			            	<option value="nonEmpty">Terminado</option> -->
<!-- 			            </select> -->
			            Pen / Ter
						<select ng-options="state as state.desc for state in states track by state.id" ng-model="csvSwitch" ng-change="swichState()" ></select>
                    </tr>
                    <tr>
                        <th>
							<input type="button" value="All" ng-click="selectAll()" /><br />
                        </th>
                        <th>Emp</th>
                        <th>Año</th>
                        <th>Mes</th>
                        <th>NIF</th>
                        <th>Nombre</th>
                        <th>Num Factura</th>
<!--                         <th>Fecha Factura</th> -->
                        <th>R/E</th>
<!--                         <th>Emp Cif</th> -->
<!--                         <th>Repcif</th> -->
                        <th>Tipo com</th>
                        <th>Tipo factura</th>
                        <th>CSV</th>
						<th>Estado</th>
						<th>Error</th>
						<th>Detalle</th>
                    </tr>
                    </thead>
                    <tbody>					
					<tr
					ng-repeat="tra in itemsToShow | filter:trasiisfilter "
					ng-click="setSelected(tra)"
					ng-class="isRowSelected[tra.keySelectedRow] ? 'selectedRow':''">
                        <td align="center">
                            <!--<a class="btn btn-default" ng-click="getTrasii(tra)"><em class="fa fa-pencil"></em></a> -->
                            <!--<input type="checkbox" ng-checked="item.isRowSelected" ng-click="toggleSelection({{ tra.id.compaak }})" value="{{ tra.id.compaak }}||{{ tra.id.empresa }}||{{ tra.id.ejercio }}||{{ tra.id.periodo }}||{{ tra.id.eminif }}||{{ tra.id.facnum }}||{{ tra.id.facfec }}||{{ tra.id.facter }}||{{ tra.empcif }}" />-->
<!--                            <a class="btn btn-default" ng-click="open()"><em class="fa fa-pencil"></em></a> -->
<!--                            <a ng-click="open()"><em class="fa fa-pencil"></em></a> -->
                           
                           <a class="btn btn-default" ng-click="open(tra)"><i class="fa fa-pencil fa-3x" style="float: left; font-size: 10px"></i></a>
                           
<!--                              <a class="btn btn-danger"><em class="fa fa-trash"></em></a> -->
                        </td>
<!--                             <td class="hidden-xs">{{ tra.id.compaak }}</td> -->
							
                            <td>{{ tra.id.empresa }}</td>
                            <td>{{ tra.id.ejercio }}</td>
                            <td>{{ tra.id.periodo }}</td>
                            <td>{{ tra.facnif }}</td>
                            <td>{{ tra.facnom }}</td>
                            <td>{{ tra.id.facnum }}</td>
<!--                             <td>{{ tra.id.facfec }}</td> -->
                            <td>{{ tra.id.facter }}</td>
<!--                             <td>{{ tra.empcif }}</td> -->
<!--                             <td>{{ tra.repcif }}</td> -->
                            <td>{{ tra.tipocom }}</td>
                            <td>{{ tra.factip }}</td>
							<td>{{ tra.rescsv }}</td>
							<td>{{ tra.resfac }}</td>
							<td>{{ tra.reserr }}</td>
							<td>{{ tra.resdes }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col col-xs-4">Pagina {{currentPage}} de {{totalPages}} &nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-success" ng-click="procesarRegistros()" ng-disabled="btnProcesar">Procesar</button>
                    </div>
                    <div class="col col-xs-8">
                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"  items-per-page="itemsPerPage"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
</div>
</body>
</html>